pandas==2.2.2
numpy==1.26.4
#matplotlib==3.9.0
#seaborn==0.13.2
pytest==8.4.1
#plotly==5.22.0
scikit-learn==1.4.2
#imbalanced-learn==0.12.3
#xgboost==2.1.0
#catboost==1.2.5
dill==0.3.8
flask==3.0.3


# The following line ensures that the setup.py file is executed, which is necessary for package setup in editable mode.
# -e. should be used only when executing 'pip install -r requirements.txt' for the first time only 
# comment it when installing requirements.txt after the first attempt

# -e .
