pandas
numpy
matplotlib
seaborn
plotly
scikit-learn


# tells pip to install the current package in "editable" mode, changes to the code are reflected immediately without reinstalling the package. 
# This line also ensures that the setup.py file is executed, which is necessary for package setup.
-e .